@font-face { font-family: 'SCDream'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff') format('woff'); font-weight: 100; }

@font-face { font-family: 'SCDream'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff'); font-weight: 200; }

@font-face { font-family: 'SCDream'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff'); font-weight: 300; }

@font-face { font-family: 'SCDream'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff'); font-weight: 400; }

@font-face { font-family: 'SCDream'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff'); font-weight: 500; }

@font-face { font-family: 'SCDream'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff'); font-weight: 600; }

@font-face { font-family: 'SCDream'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff'); font-weight: 700; }

@font-face { font-family: 'SCDream'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff'); font-weight: 800; }

@font-face { font-family: 'SCDream'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff'); font-weight: 900; }


html {scroll-behavior: smooth; /* 부드러게 */}


body{
  font-family: 'SCDream';
  font-weight:400;
}


.navbar{
  position: fixed;
  width: 100%;
  z-index: 99999;
}

.division-black{
  width:100%;
  height: 48px;
  background: #000000;
}
.division-black p{
  color: #ffffff;
  font-size:3em
}
.division-white{
  width:100%;
  background: #fff;
  padding-top: 100px;
}
.division-white p{
  color: #000;
  font-size: 3em;
}
.navbar{
  margin:0
}
.padding-0{
  padding: 0;
}
.padding-0>div{
  padding: 0;
}
.margin-0{
  margin: 0;
}

.white-title-text>h1{
  font-size: 40px;
  padding: 0 0 20px 0;
  color: #fff;

}
.white-title-text>p{
  font-size: 18px;
  line-height:130%;
  color: #fff;
  padding-bottom: 50px;
}

.title-text>h1{
  font-size: 40px;
  padding: 0 0 20px 0;
}
.title-text>p{
  font-size: 18px;
  line-height:130%;
  padding-bottom: 50px;
}
.sec01-title-text>p{
  color: #fff;
  line-height:130%;
}
.sec01-title-text{
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(0, -50%);
}
.sec01-title-text>p:first-child{
  font-size: 18px;
  padding-bottom: 30px;
}
.sec01-title-text>p:last-child{
  font-size: 40px;
}
.section01{
  background:#000000;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.section01-title{
  width:100%;
  height: 100vh;
  background: url(../images/section01-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size:cover;
  display: block;
}

.colck2{
  font-size: 32px;
  letter-spacing: 2px;
}

.sec01-title-40 span{
  font-weight: bold;
}
/* section01 end */



.section02{
    width:100%;
    background:#f7f7f7;
}

.main-title{
    color:#fff;
    padding-top: 10%;
    padding-bottom: 10%;
    font-size: 5em;
}

.content-icon{
    padding: 100px 0;
}

.galaxy-icon-text{
    padding-top: 30px;
}

.galaxy-icon img{
    width:40%;
}

.galaxy-title-content p {
    display: inline-block;
    vertical-align: top;
    margin: 0;
  }
  
/* section02 end */

.section03{
    width:100%;
    background:#000000;
}
  .word {
    position: absolute;
    width: 30%;
    opacity: 0;
  }
.text{
    margin-right: 120px;
}
  .letter {
    display: inline-block;
    position: relative;
    float: left;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
  }
  
  .letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  
  .letter.behind {
    transform: rotateX(-90deg);
  }
  
  .letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .wisteria {
    color: #8e44ad;
  }
  
  .belize {
    color: #2980b9;
  }
  
  .pomegranate {
    color: #c0392b;
  }
  
  .green {
    color: #16a085;
  }
  
  .midnight {
    color: #2c3e50;
  }
  
  .watch-title-size{
      font-size: 3em;
      color:#fff;
  }

  /* section03 end */
.section04{
  width:100%;
  height: auto;
  padding: 100px 0;
}
 .slide-1{
    width: 100%;
    height: 700px;
    background: url(../images/sec04-slide1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.slide-2{
    width: 100%;
    height: 700px;
    background: url(../images/sec04-slide2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.slide-3{
    width: 100%;
    height: 700px;
    background: url(../images/sec04-slide3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}

.swiper-slide{
    flex-direction: column;
    background: inherit !important;
}


/* swiper */

.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
/* 스와이퍼 수정 */

.swiper-pagination{
    position: inherit !important;
    bottom: 0px !important;
    padding-top: 20px !important;
}
.swiper-button-prev{
    margin-top: 40px !important;
    color: #fff !important;
    left: 20px !important;
}
.swiper-button-next{
    margin-top: 40px !important;
    color: #fff !important;
    right: 20px !important;
}
.swiper-button-prev:after ,.swiper-button-next:after{
    content: none !important;
}
.swiper-button-next img{
    height: 50px;
}
.swiper-button-prev img{
    height: 50px;
}

/* section 04 end */
.section05{
  width:100%;
  height: auto;
  background: url(../images/sec05-bg.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
.black-title{
  position: relative;
}
.gray-line{
  width:2px;
  height: 100px;
  background: #A1A5AB;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
.black-title p{
  color: #fff;
  font-size: 30px;
  font-weight: 800;
}
.first-p{
  padding-top: 70px;
}
.black-title p:last-child{
  padding-bottom: 50px;
}
.titletext-white{
  border-top: 1px solid #A1A5AB;
  border-bottom: 1px solid #A1A5AB;
  padding: 25px 0;
  margin-bottom: 100px;
}
.titletext-white>p{
  line-height: 150%;
  color: white;
}
.titletext-white>p:first-child{
  font-weight: bold;
  font-size: 35px;
}
.titletext-white>p:last-child{
  padding-top: 20px;
  font-size: 18px;
}

.function-box{
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.snip1273 {
  position: relative;
  margin: 10px;
  min-width: 310px -60px;
  max-width: 310px;
  width: 100%;
  color: #ffffff;
  text-align: left;
  background-color: #000000;
  font-size: 16px;
}

.snip1273 img {
  position: relative;
  max-width: 100%;
  vertical-align: top;
}
.snip1273 figcaption {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  padding: 80px 30px;
  text-align: center;
  transition:  all 0.4 ease-in;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease-in;
}
.snip1273 figcaption:before,
.snip1273 figcaption:after {
  width: 1px;
  height: 0;
}
.snip1273 figcaption:before {
  right: 0;
  top: 0;
}
.snip1273 figcaption:after {
  left: 0;
  bottom: 0;
}
.snip1273 h3,
.snip1273 p {
  line-height: 1.5em;
}
.snip1273 h3{
  font-size: 20px;
}
.snip1273 h3 {
  margin: 0 0 5px;
  font-weight: 700;
  text-transform: uppercase;
}
.snip1273 p {
  font-size: 18px;
  font-weight: 500;
  margin: 0 0 15px;
}
.snip1273 a {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
.snip1273:before,
.snip1273:after,
.snip1273 figcaption:before,
.snip1273 figcaption:after {
  position: absolute;
  content: '';
  background-color: #ffffff;
  z-index: 1;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0.8;
}
.snip1273:before,
.snip1273:after {
  height: 1px;
  width: 0%;
}
.snip1273:before {
  top: 0;
  left: 0;
}
.snip1273:after {
  bottom: 0;
  right: 0;
}
.snip1273:hover img,
.snip1273.hover img {
  opacity: 0.4;
}
.snip1273:hover figcaption,
.snip1273.hover figcaption {
  opacity: 1;
}
.snip1273:hover figcaption:before,
.snip1273.hover figcaption:before,
.snip1273:hover figcaption:after,
.snip1273.hover figcaption:after {
  height: 100%;
}
.snip1273:hover:before,
.snip1273.hover:before,
.snip1273:hover:after,
.snip1273.hover:after {
  width: 100%;
}
.snip1273:hover:before,
.snip1273.hover:before,
.snip1273:hover:after,
.snip1273.hover:after,
.snip1273:hover figcaption:before,
.snip1273.hover figcaption:before,
.snip1273:hover figcaption:after,
.snip1273.hover figcaption:after {
  opacity: 0.1;
}
.snip-line{
  width:100px;
  height: 1px;
  background: #fff;
  margin: 15px 0 15px 75px;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height: 283px;
  background: rgba(0,0,0,0.5);
}
.shown-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.shown-text>p{
  font-size: 25px;
}
.arrow{
  display:inline-block;
  width:0;
  height:0;
  border-style:solid;
  border-width:20px;
  border-color:#fff transparent transparent transparent;
}
/* section05 end */

.section06{
  padding: 50px 0 100px 0;
}

.ba-slider {
  position: relative;
  overflow: hidden;
}

.ba-slider img {
  width: 100%;
  display:block;
}

.resize {
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 50%;
  overflow: hidden;
}


.handle { /* Thin line seperator */
position:absolute; 
left:50%;
top:0;
bottom:0;
width:0;
margin-left:-2px;
cursor: ew-resize;
}

.handle:after {  /* Big orange knob  */
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  margin: -20px 0 0 -20px;

  content:' ';
  color:white;
  font-size:20px;
  text-align:center;
  line-height:40px;

  background: #fff; /* @orange */
  border:1px solid #fff; /* darken(@orange, 5%) */
  border-radius: 50%;
  transition:all 0.3s ease;
  box-shadow:
    0 2px 6px rgba(0,0,0,.3), 
    inset 0 2px 0 rgba(255,255,255,.5),
    inset 0 60px 50px -30px #fff; /* lighten(@orange, 20%)*/ 
}

.draggable:after {
  width: 48px;
  height: 48px;
  margin: -24px 0 0 -24px;
  line-height:48px;
  font-size:30px;
}

/* section06 Compare Two Images end*/

.sec06-img img{
  width: 100%;
}

.sec06-content>div+div{
  padding-left: 11px;
}
.left-img img+img{
  padding-top: 11px;
}

/* section06 end */

.sec07-content-box * {
  transition:  all 0.4 ease-in;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.5s ease-in-out;
}
.section07{
  width:100%;
  height: auto;
  background: url(../images/sec07-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 100px;
}

.sec07-content-box{
  display: flex;
  justify-content:space-between;
}
.text-bg-wihte{
  width:320px;
  height: 275px;
  background: #fff;
}
.text-bg-black{
  width:320px;
  background: #1b1b1b;
}
.basic-img-1{
  display: none;
}
.revers-img1-{
  display: block;
}

.text-box{
  padding: 20px;
}
.text-box h2{
  padding-top: 20px;
  font-size: 18px;
  font-weight: bold;
}
.text-box p{
  font-size: 16px;
  line-height: 130%;
}
.sec07-line{
  width:28px;
  height: 3px;
  margin: 20px 0;
}
.white-line{
  background: #fff;
}
.black-line{
  background: #000;
}
.text-box-black{
  color: #fff;
}
.text-bg-white{
  width:320px;
  background: #fff;
}
.text-box-black-2{
  color: #fff;
}

.revers-img-2, .revers-img-3{
  display: none;
}

/* section07 end */
.footer-box{
  width: 100%;
  height: 100%;
  background: #5a5a5a;
}
.footer-img{
  height: auto;
  background: url(../images/footer-img.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center;
  margin: 20px 0;
  margin: 0 auto;
}
.footer-text-box>p:first-child{
  color: #fff;
  font-size: 40px;
  padding-left: 5%;
  padding-bottom: 20px;
  padding-top: 5%;
}
.footer-text-box>p:last-child{
  font-size: 40px;
  color: #fff;
  line-height: 130%;
  padding-bottom: 5%;
  padding-left: 5%;
}
/* footer end */



/* section08 end */

@media(max-width:992px){
  .sec01-title-text{
    width:100%;
    top: 90%;
    padding: 50px;
    left: 0;
    text-align: center;
  }
  
  .text-effect{
    padding: 20px 0;
  }
  .text{
    margin-right: 10%;
  }
  div br {
     display: none;
}
  .sec01-title-text>p:last-child{
    font-size: 20px;
  }
  .swiper-button-prev img{
    display: none;
  }
  .swiper-button-next img{
    display: none;
  }
  .content-icon{
    display: none;
  }
  .section03{
    margin-top: 0;
  }
  .function-box{
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }
  .titletext-white p{
    font-size: 25px;
  }


  .section03{
    display: none;
  }
  .sec01-title-text{
    top: 41%;
  }
  /* section05 end */

  .left-img{
    display: none;
  }


  /* section06 end */

  .sec07-content-box{
    flex-direction: column;
  }
  .sec070-content-box>div{
    margin-bottom: 20px;
  }
  .text-bg-white, .text-bg-black{
    width:100%;
  }
.sec07-content-2{
  margin:20px 0;
}

  /* section07 end */

  .footer-text-box>p:first-child{
    font-size: 18px;
  }
  .footer-text-box>p:last-child{
    font-size: 18px;
  }

  /* footer */
}

@media(max-width:800px){
  body{
    text-align: center;
  }
  .container{
    width:90%;
    margin: 0 auto;
  }
  .watch-title-size{
    font-size: 30px;
    padding: 10px 0;
  }

  .title-text>p{
    font-size: 16px;
  }
  .text-box{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
  }

  .section01-title{
    height: 50vh;
  }

  .section01{
    height: 50vh;
  }
  /* section 02 */

 
  /* section 06 */

  .white-title-text>p{
    display:none;
  }

  /* section 07 */
  .white-title-text>h1{
    padding-top: 20px;
    margin-bottom: 20px;
  }

  .footer-text-box{
    text-align: left;
  }
  .footer-text-box>p:last-child br{
    display: block;
  }
  .black-title p{
    font-size: 21px;
  }
  .snip1273 p{
    font-size: 16px;
  }
  .arrow {
    border-width: 12px;
  }
  .snip1273 h3{
    font-size: 18px;
  }
  .titletext-white>p:first-child{
    font-size: 18px;
  }
  .titletext-white>p:last-child{
    font-size: 16px;
  }
  .division-white p{
    font-size: 21px;
  }
  .white-title-text>h1{
    font-size: 21px;
  }
}

@media(max-width:767px){
  #section07{
      height: 130vh;
  }
}
@media(max-width:600px){
  .title-text>h1{
    font-size: 21px;
  }
  .watch-title-size{
    font-size: 18px;
  }
  .sec07-line{
    width:30%;
    height: 1px;
  }
  .slide-1, .slide-2, .slide-3{
    height: 400px;
  }
}