/* 나눔바른고딕 */
@font-face { font-family: 'NanumBarunGothic';
    src: url('/fonts/NanumBarunGothic.eot');
    src: url('/fonts/NanumBarunGothic.eot') format('embedded-opentype'),
    url('/fonts/NanumBarunGothic.woff') format('woff');}
    
body{
    font-family: NanumBarunGothic;
}
.myriad-pro{
    font-family: myriad-pro, sans-serif;
    font-style: normal;
}
.bold{
    font-weight: bold;
}
.padding-0{
    padding: 0;
}
.padding-0>div{
    padding: 0;
}
p{
    margin: 0;
}
h1{
    margin: 0;
    padding: 0;
}
/* section01 start */

#section01{
    background: url(../images/section01-bg.png);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.navbar{
    margin-bottom: 0;
}
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
}
.content-img img{
    width:100%;
}
.section01-article{
    margin-top: 15%;
    margin-bottom: 17%;
    margin-left: 9%;
}
.font-size-18{
    font-size: 18px;
}
.font-size-50{
    padding: 30px 0;
    font-size: 44px;
    line-height: 53px;
    font-weight: 100;
}

/* section01 end*/

#section02, #section03 , #section04 , #section05, #section06{
    padding-top: 5%;
    width:100%;
}

.content-img>img{
    width:99%;
}
.sec02-content{
    cursor: pointer;
}
.sec02-textbox{
    position: absolute;
    top: 60px;
    left: 250px;
    width:50%;
}
.sec02-textbox>p:nth-child(2){
    padding: 10px 0;    
}
.sec02-textbox>p:last-child{
    color: #666;
    font-size: 18px;
}
.font-size-20{
    font-size: 20px;
}


/* section02 end */

/* section03 */

/* section03 Compare Two Images start*/

* {box-sizing: border-box;}

@import "lesshat";

.ba-slider {
    position: relative;
    overflow: hidden;
}
 
.ba-slider img {
    width: 100%;
    display:block;
}
 
.resize {
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 50%;
    overflow: hidden;
}


.handle { /* Thin line seperator */
  position:absolute; 
  left:50%;
  top:0;
  bottom:0;
  width:0;
  margin-left:-2px;
  cursor: ew-resize;
}
 
.handle:after {  /* Big orange knob  */
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    margin: -20px 0 0 -20px;
 
    content:' ';
    color:white;
    font-size:20px;
    text-align:center;
    line-height:40px;
 
    background: #fff; /* @orange */
    border:1px solid #fff; /* darken(@orange, 5%) */
    border-radius: 50%;
    transition:all 0.3s ease;
    box-shadow:
      0 2px 6px rgba(0,0,0,.3), 
      inset 0 2px 0 rgba(255,255,255,.5),
      inset 0 60px 50px -30px #fff; /* lighten(@orange, 20%)*/ 
}

.draggable:after {
    width: 48px;
    height: 48px;
    margin: -24px 0 0 -24px;
    line-height:48px;
    font-size:30px;
}

/* section03 Compare Two Images end*/
.sec03-article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 528px;
}
.sec03-article>h1{
    font-size: 44px;
    padding: 0 15px;
}
.sec03-article>p{
    font-size: 18px;
    padding: 15px;
    line-height: 30px;
}

@media(max-width:767px){
    #section02, #section03 , #section04 , #section05, #section06{
        padding-top: 20px;
        width:100%;
    }
    /* section end */
    #section01{
        height: 80vh;
        background-position: top center;
    }
    .section01-article{
        text-align: center;
        color: #181818;
        background: rgba(255,255,255,.2);
    }
    /* section01 end */
    .sec02-textbox{
        left: 300px;
        top: 90px;
    }
    .sec02-content:first-child{
        padding-bottom: 20px;
    }
    /* section02 end */
    #section03{
        padding-top: 20px;
    }
    .sec03-article{
        text-align: center;
    }
    .sec03-article{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
        margin-top: 20px;
    }
    /* section03 end */
}
@media(max-width:540px){
    .sec02-textbox{
        left: 200px;
    }
    .sec02-textbox>.font-size-18{
        font-size: 16px;
    }
    .sec02-textbox>.font-size-20{
        font-size: 18px;
    }
}

@media(max-width:480px){
    .sec02-textbox>.font-size-18{
        font-size: 12px;
    }
    .sec02-textbox>.font-size-20{
        font-size: 16px;
    }
}
@media(max-width:450px){
    .sec02-textbox{
        left: 180px;
        top: 35px;
    }
}
@media(max-width:380px){
    .sec02-textbox{
        left: 150px;
        top: 25px;
    }
}
@media(max-width:380px){
    .sec02-textbox{
        left: 135px;
        top: 20px;
    }
}