/* 나눔바른고딕 */
@font-face { font-family: 'NanumBarunGothic';
    src: url('/fonts/NanumBarunGothic.eot');
    src: url('/fonts/NanumBarunGothic.eot') format('embedded-opentype'),
    url('/fonts/NanumBarunGothic.woff') format('woff');}
    
body{
    font-family: NanumBarunGothic;
}
.myriad-pro{
    font-family: myriad-pro, sans-serif;
    font-style: normal;
}
.bold{
    font-weight: bold;
}
.padding-0{
    padding: 0;
}
.padding-0>div{
    padding: 0;
}
p{
    margin: 0;
}
.container{
    width:1560px
}

/* section01 start */

#section01{
    background: url(../images/section01-bg.png);
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.navbar{
    margin-bottom: 0;
}
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
}
.content-img img{
    width:100%;
}
.section01-article{
    padding-top: 15%;
    padding-bottom: 17%;
    margin-left: 9%;
}
.font-size-18{
    font-size: 18px;
}
.font-size-50{
    padding: 30px 0;
    font-size: 44px;
    line-height: 53px;
    font-weight: 100;
}

/* section01 end*/

#section02{
    padding-top: 5%;
    width:100%;
    height: 100vh;
}
.content-img img{
    width:99%;
}
.sec02-content{
    cursor: pointer;
}
.sec02-textbox{
    position: absolute;
    top: 98px;
    left: 320px;
}
.sec02-textbox>p:nth-child(2){
    padding: 10px 0;
}
.sec02-textbox>p:last-child{
    color: #666;
    font-size: 18px;
}
.font-size-24{
    font-size: 24px;
}